@import '../../../assets/styles/functions';

.block__interface {
	width: 100%;
	background-color: white;
	bottom: 0;
	position: fixed;
	z-index: 10;
	height: adapt(102px, 390px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: transform 0.3s ease-in-out;

	> .button {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: adapt(8px, 390px);
		width: adapt(112px, 390px);
		height: adapt(47px, 390px);
		font-weight: 600;
		font-size: 0.85rem;
		color: #999999;
		// color: #2c2c2c;

		> img {
			width: adapt(24px, 390px);
			height: adapt(24px, 390px);
		}
	}
}

.hidden__interface {
	transform: translateY(100%);
}
